body {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #3a2e3f;
  }

.game {
    width: 800px;
    margin: 0 auto;
}
 
canvas {
    cursor: none;
}


  canvas{
    border: 1px solid;
  }
